/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: "Roboto";
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  text-align: center;
  color: white;
  background: black;
}


img {
  width: 30%;
}

#currentTemp {
  font-size: 60px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
